.navbarMain {
  position: fixed;
  height: 100%;
  padding-top: 1rem;
  width: 18rem;

  @media (min-width: 500px) {
    width: 20rem;
    z-index: 30;
  }
}

.navbarMain div {
  margin-top: 1rem;
}

.navbarMain a {
  text-decoration: none;
  font-size: 25px;
  transition: 0.3s;
}

.imageIcon {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  margin-left: .5rem;
}

.link {
  display: flex;
  align-items: center;
  height: 4rem;
}

.link span {
  padding: 0;
  margin-left: .5rem;
}

.link:hover {
  color: #f1f1f1;
  background-color: #9e9393;
}

.colorTheme {
  background-image: url('../../assets/images/b5.jpg'); 
}

.colorTheme a {
  color: #000000;
}

.colorTheme a:hover {
  color: #f1f1f1;

  .imageIcon {
    filter: invert(100%);
  }
}

.darkTheme {
  background-image: url('../../assets/images/darkWallpaper1.png');
}

.darkTheme a {
  color: #e9e1e1;
}

.darkTheme a:hover {
  color: black;
  filter: contrast(1260%);

  .imageIcon {
    filter: invert(0);
  }
}

.darkTheme .imageIcon {
   filter: invert(100%);
}

.lightTheme {
  background-image: url('../../assets/images/wallpaperGreen1.jpg'); 
}

.lightTheme a {
  color: white;
}

.lightTheme a:hover {
  color: #6d6565;
  filter: contrast(260%);

  .imageIcon {
    filter: invert(0%);
  }
}

.lightTheme .imageIcon {
  filter: invert(100%);
}
  