.mainBusPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    margin-top: 1rem;
    width: 100%;
    height: 100%;
    
}
.main p {
    text-align: center;
    padding: 1rem 1rem;
    // width: 100%;
}
.main.colorTheme p {
    
}



.main.lightTheme p{
}

.divFavor {
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.divHeadingFavoriteList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 1rem;
    margin-bottom: 1rem;
    padding: .5rem 0.5rem;
    font-weight: bolder;
    border: 1px solid grey;
    // border-bottom: none;
    // border-bottom: double;
    border-bottom: groove;
    background-color: whitesmoke;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    // box-shadow: 1px none 4px 2px rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 2px 1px rgba(75, 71, 71, 0.9);
    @media (min-width: 500px) {
        margin: 1rem 4rem;
    }
}

.divHeadingFavoriteList button {
    margin-left: .5rem;
}

.textMyFavorite {
    // min-width: 6rem;
    @media (min-width: 500px) {
        margin-left: .5rem;
        
    }
}

.darkTheme .divHeadingFavoriteList {
    background-color: black;
    box-shadow: 0 1px 3px 0 rgba(250, 244, 244, 0.9);
    border: 1px solid #384081;
    border-bottom: groove;
}

.darkTheme .textMyFavorite {
    color: white;
}

.darkTheme p {
    // background-color: #000000;
    margin: .5rem 2rem;
    padding: .5rem 1rem;
}

.darkTheme .divHeadingFavoriteList {
    // background-color: #2e2e2e;
    // background-color: #000000;
}

.darkTheme.main p {
    color: white;
}

.darkTheme span {
    color: white;
}






.starDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-left: 1rem;
    // width: 33.594px;
}

.starDiv img {
    // height: 3rem;
    // width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (min-width: 500px){
        
    }
}

.emptyStar {
    
    height: 2rem;
    @media (min-width: 500px){
        height: 2.2rem;
        // margin-top: .5rem;
    }
}

.fullStar {
    width: 2.8rem;
    height: 2.8rem;
    @media (min-width: 500px){
        
    }
}

.textMyFavoriteAndImageStar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}