.mainBusPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  margin-top: 1rem;
  width: 100%;
  height: 100%;
}
.main p {
  text-align: center;
  padding: 1rem 1rem;
}

.divFavor {
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.divHeadingFavoriteList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem 0.5rem;
  font-weight: bolder;
  border: 1px solid grey;
  border-bottom: groove;
  background-color: whitesmoke;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0px 0px 2px 1px rgba(75, 71, 71, 0.9);

  @media (min-width: 500px) {
    margin: 1rem 4rem;
  }
}

.divHeadingFavoriteList button {
  margin-left: 0.5rem;
}

.textMyFavorite {
  @media (min-width: 500px) {
    margin-left: 0.5rem;
  }
}

.darkTheme .divHeadingFavoriteList {
  background-color: black;
  box-shadow: 0 1px 3px 0 rgba(250, 244, 244, 0.9);
  border: 1px solid #384081;
  border-bottom: groove;
}

.darkTheme .textMyFavorite {
  color: white;
}

.darkTheme p {
  margin: 0.5rem 2rem;
  padding: 0.5rem 1rem;
}

.darkTheme.main p {
  color: white;
}

.darkTheme span {
  color: white;
}

.starDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.starDiv img {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 500px) {
  }
}

.emptyStar {
  height: 2rem;

  @media (min-width: 500px) {
    height: 2.2rem;
  }
}

.fullStar {
  width: 2.8rem;
  height: 2.8rem;

  @media (min-width: 500px) {
  }
}

.textMyFavoriteAndImageStar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
