.favorItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(56, 64, 129);
    border-radius: 5px;
    margin: .5rem 1rem;
    padding: .5rem .5rem;
    background-color: white;
    height: 3rem;
    @media (min-width: 500px) {
        margin: 0.5rem 4rem;
    }
}

.favorItem img {
    width: 2rem;
    margin-right: 1rem;
}

.favorItem span {
    display: flex;
    align-items: center;
    margin-right: .4rem;
}

.darkTheme.favorItem {
    box-shadow: 0 1px 3px 0 rgba(250, 244, 244, 0.9);
    background-color: #000000;
}

.darkTheme span {
    color: white;
}

.colorTheme.favorItem {
    box-shadow: 0px 1px 3px 0px  rgb(133, 127, 127);
}

.lightTheme.favorItem {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.9);
}
