.colorTheme {
  background-color: rgb(235, 228, 166);
}

.darkTheme {
  background-color: #2e2e2e;
  background-image: url('https://www.transparenttextures.com/patterns/3px-tile.png?SameSite=None');
}

.lightTheme {
  background-color: #ffffff;
  background-image: url('https://www.transparenttextures.com/patterns/absurdity.png?SameSite=None');
}
