html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  /* min-height: 100vh; */
  background-color: rgb(224, 218, 206);
}

#root {
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  ////// Truk!!!
  min-height: 100%;
  display: flex;
  flex-direction: column;
  
}

.app-wrapper {
  height: 100%;
  // min-width: 300px;
  margin: 0px auto;
  width: 100%;
  ////// Truk!!!
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  @media(min-width: 500px) {
    width: auto;
    // width: 100%;
  }
  
}

.header {
  background-color: rgba(123, 98, 190, .5);
  font-size: 1rem;

  
  @media (min-width: 500px) {
    font-size: 1.3rem;
    height: 5rem;
    min-width: 850px;
    max-width: 850px;
    width: 850px;
    // min-width: 780px;
    // max-width: 790px;
  }
  @media (min-width: 768px) {
    min-width: 768px;
    max-width: 768px;
    width: 768px;
  }
  

  &.fixHeader {
    position: fixed;
    width: 100%;
    z-index: 20;
    @media (min-width: 500px){
      position: fixed;
      width: 100%;
    }
  }
}

.container {
  display: flex;
  
  flex-grow: 1;
  @media (min-width: 500px) {
    
    min-width: 850px;
    max-width: 850px;
  }
  @media (min-width: 768px) {
    min-width: 768px;
    max-width: 768px;
    width: 768px;
  }
}

.navbar {
  position: fixed;
  top: 3rem;
  right: 10rem;
  bottom: 0;
  left: 0;

   // display: flex;
  // justify-content: flex-start;
  // padding: 5rem .5rem;
  // text-align: center; 
  display: none;
  // padding-top: 1rem;
  width: 15rem;
  /* !!! */
  overflow: hidden;

  @media (min-width: 500px){
    position: static;
    top: 5rem;
    bottom: 0rem;
    left: 2rem;
    display: none;
    justify-content: flex-start;
    align-items: flex-start;
    // text-align: center;
    width: 330px;
    margin-top: 5rem;
  }

  &.showNavBar {
    display: block;
    z-index: 20;
    // align-items: flex-start;
    // justify-content: flex-start;
    @media (min-width: 500px){
      // margin-top: 5rem;
      z-index: 25;
    }
  }
}
// .navbar:onBlur

.app-wrapper.headerBusImage:active .navbar {
  display: none;
  background-color: black;
}




.app-wrapper-content {
  flex-grow: 1;
  // background-color: rgb(235, 228, 166);

  width: 100%;
  &.showNavBar {
    z-index: 0;
    text-decoration: underline;
  }
}