.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}

.modal-body {
  padding: 2rem;
  margin: 0rem 1rem;
  height: 16rem;
  border-radius: 5px;
  background: #fff;

  @media (min-width: 500px) {
    height: 17.5rem;
    margin: 5rem 20rem;
  }
}

.modal button {
  margin-top: 2rem;
}

.divHolder label {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: right;
  color: white;
}

.divHolder div {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border: 1px solid grey;
  border-radius: 5px;
  margin-top: 0.2rem;
  background-color: grey;
}
